Stability and resolvability of URIs in $id and $ref (json schemas)

### Schema specs and current status

The [$id](https://json-schema.org/draft/2019-09/draft-handrews-json-schema-02#rfc.section.8.2.2) field in json schema is defined the following way

> The "$id" keyword identifies a schema resource with its [canonical](https://json-schema.org/draft/2019-09/draft-handrews-json-schema-02#RFC6596) URI.
Note that this URI is an identifier and not necessarily a network locator. In the case of a network-addressable URL, a schema need not be downloadable from its canonical URI.
[...]
This URI also serves as the base URI for relative URI-references in keywords within the schema resource, in accordance with [RFC 3986 section 5.1.1](https://json-schema.org/draft/2019-09/draft-handrews-json-schema-02#RFC3986) regarding base URIs embedded in content.

The conclusions I am drawing from this are:
- "$id" can be used to resolve relative $ref values
- "$id" does not necessarily provide a URI to a resolvable file version of the schema
- if "$id" points to a file location of the schema, it should NOT point to a schema file that differs from the version containing the "$id" (otherwise I would not consider it 'canonical')

While an $id is not mandatory for a schema file, a schema without an $id field would be considered an 'anonymous schema'. Absence of the URI may hinder resolving relative $ref URIs.

If provided, many validation tools will attempt to download the schema from the specified URL location of $id, despite it not necessarily being a network locator.

### Role of this github repo

Currently this github repo does not provide releases of stable schemas. Therefore both the $id and $ref fields may lead to validation errors or unexpected validation results during schema tooling, especially when dealing with local schema versions or versions of the schemas published/registered elsewhere.

It looks to me like there is no way to have the cake and eat it too. Options to deal with it would depend on how we assess the role of this github repo.

Option1: consider this repo solely a collaboration repository for schema development. Remove all absolute URIs from the schemas. Replace $ref URIs with relative URIs. Remove $id uris, rendering the schema anonymous - to reflect its validity only in the current commit context of the collaborative development. Providing an id and 'de-anonymizing' the schema would fall into the realm of instances publishing the schema (somewhere outside this repo).
Option 2: consider this repo to handle schema releases. Get rid of unstable URI references (such as github file links pointing to the head of main) and implement a release process.

### Challenges regarding releases

this repo can be characterized as a schema 'suite', containing multiple schemas and schema topics not directly linked or related to each other.
- reference to the current release tag would potentially affect many schema files
- release of a new MRI schema version would increase the schema version for CT schema despite no changes to that schema itself (or is there a non-confusing way around this?)




the solution at the moment is as follows:

- removal of $id fields
- relative $ref to other files
- automatic action to bundle files with external refs into a single file version of the schema. This bundled version should be used for publishing